In [5]:
import numpy as np
import pandas as pd
from decisiontree import *

In [6]:
df = pd.read_csv('tenni.txt', delimiter="\t", header=None, names=['a', 'b', 'c', 'd', 'e'])

In [7]:
df

           a     b       c       d    e
1      Sunny   Hot    High    Weak   No
2      Sunny   Hot    High  Strong   No
3   Overcast   Hot    High    Weak  Yes
4       Rain  Mild    High    Weak  Yes
5       Rain  Cool  Normal    Weak  Yes
6       Rain  Cool  Normal  Strong   No
7   Overcast  Cool  Normal  Strong  Yes
8      Sunny  Mild    High    Weak   No
9      Sunny  Cool  Normal    Weak  Yes
10      Rain  Mild  Normal    Weak  Yes
11     Sunny  Mild  Normal  Strong  Yes
12  Overcast  Mild    High  Strong  Yes
13  Overcast   Hot  Normal    Weak  Yes
14      Rain  Mild    High  Strong   No

In [8]:
dt = DecisionTree(max_depth=3)

In [9]:
dt.probability(df, 'a')

{'Sunny': 0.35714285714285715,
 'Overcast': 0.2857142857142857,
 'Rain': 0.35714285714285715}

In [10]:
dt.conditional_prob(df, 'a', 'e', 'Overcast')

{'Yes': 1.0}

In [11]:
dt.info_gain(df, 'a', 'e')

0.24674981977443933

In [12]:
dt.max_info_gain(df, 'e', [['a', 'Rain'],['d', 'Weak']])

(0.0, 'b')

In [13]:
df

           a     b       c       d    e
1      Sunny   Hot    High    Weak   No
2      Sunny   Hot    High  Strong   No
3   Overcast   Hot    High    Weak  Yes
4       Rain  Mild    High    Weak  Yes
5       Rain  Cool  Normal    Weak  Yes
6       Rain  Cool  Normal  Strong   No
7   Overcast  Cool  Normal  Strong  Yes
8      Sunny  Mild    High    Weak   No
9      Sunny  Cool  Normal    Weak  Yes
10      Rain  Mild  Normal    Weak  Yes
11     Sunny  Mild  Normal  Strong  Yes
12  Overcast  Mild    High  Strong  Yes
13  Overcast   Hot  Normal    Weak  Yes
14      Rain  Mild    High  Strong   No

In [14]:
dt.fit(df, 'e')

In [15]:
dt.items_level_order()

[[Node(a),
  [('Sunny', Node(c)), ('Overcast', Node({'Yes': 1.0})), ('Rain', Node(d))]],
 [Node(c), [('High', Node({'No': 1.0})), ('Normal', Node({'Yes': 1.0}))]],
 [Node({'Yes': 1.0}), []],
 [Node(d), [('Weak', Node({'Yes': 1.0})), ('Strong', Node({'No': 1.0}))]],
 [Node({'No': 1.0}), []],
 [Node({'Yes': 1.0}), []],
 [Node({'Yes': 1.0}), []],
 [Node({'No': 1.0}), []]]

In [16]:
dt.size

8

In [17]:
dt.height()

2

In [18]:
df = pd.read_csv('lenses.csv',  delimiter="\s+", header=None, names=['index','age', 'prescription', 'astigmatic','tear production rate', 'target'])
df = df.drop(columns='index')

In [19]:
df

    age  prescription  astigmatic  tear production rate  target
0     1             1           1                     1       3
1     1             1           1                     2       2
2     1             1           2                     1       3
3     1             1           2                     2       1
4     1             2           1                     1       3
5     1             2           1                     2       2
6     1             2           2                     1       3
7     1             2           2                     2       1
8     2             1           1                     1       3
9     2             1           1                     2       2
10    2             1           2                     1       3
11    2             1           2                     2       1
12    2             2           1                     1       3
13    2             2           1                     2       2
14    2             2           2                     1       3
15    2             2           2                     2       3
16    3             1           1                     1       3
17    3             1           1                     2       3
18    3             1           2                     1       3
19    3             1           2                     2       1
20    3             2           1                     1       3
21    3             2           1                     2       2
22    3             2           2                     1       3
23    3             2           2                     2       3

In [20]:
dt = DecisionTree(max_depth=3)
dt.fit(df, 'target')

In [21]:
dt.items_level_order()

[[Node(tear production rate), [(1, Node({3: 1.0})), (2, Node(astigmatic))]],
 [Node({3: 1.0}), []],
 [Node(astigmatic), [(1, Node(age)), (2, Node(prescription))]],
 [Node(age),
  [(1, Node({2: 1.0})), (2, Node({2: 1.0})), (3, Node(prescription))]],
 [Node(prescription), [(1, Node({1: 1.0})), (2, Node(age))]],
 [Node({2: 1.0}), []],
 [Node({2: 1.0}), []],
 [Node(prescription), [(1, Node({3: 1.0})), (2, Node({2: 1.0}))]],
 [Node({1: 1.0}), []],
 [Node(age), [(1, Node({1: 1.0})), (2, Node({3: 1.0})), (3, Node({3: 1.0}))]],
 [Node({3: 1.0}), []],
 [Node({2: 1.0}), []],
 [Node({1: 1.0}), []],
 [Node({3: 1.0}), []],
 [Node({3: 1.0}), []]]